@font-face {
    font-family: 'product-sans';
    src: url('product-sans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'product-sans';
    src: url('product-sans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body{
    font-family: 'product-sans', sans-serif;
    margin-top: 200px;
}
.letter-e{
    rotate: -15deg;
    margin-left: -3px;
    margin-right: 3px;
}
#google-logo{
    font-weight: normal;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 5%;
    user-select: none;
    font-size: 100px;
}
.blue{
    color: #4285F4;
}
.red{
    color: #EA4335;
}
.green{
    color: #34A853;
}
.yellow{
    color: #FBBC05;
}
.icon{
    user-select: none;
}
#search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 100px;
    box-shadow: #ccc 0px 0px 10px;
    padding: 7px 10px;
    margin-top: 3%;
}
#search-bar{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    outline: none;
}
#mic-button{
    width: 30px;
    margin-right: 12px;
}
#lens-button{
    width: 25px;
    margin-right: 10px;
}
#magnifying-glass{
    margin-left: 15px;
    margin-right: 6px;
    width: 20px;
    height: 20px;
}
#search-container:hover{
    cursor: text;
}
